
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body{
    width: 95%;
    margin: 50px auto;
    background: ghostwhite;
}

@media (min-width: 768px){
    html,body{
        width: 80%;
        margin: 50px auto;
    }
}
h1 {
    margin: 10px auto;
    border: 1px dashed mediumpurple;
    font-size: larger;
    color: midnightblue;
    text-align: center;
    font-family: "Georgia";
}

h2 {
    margin: 10px auto;
    font-size: x-large;
    color: rgb(20, 68, 20);
    text-align: center;
    font-family: "Monaco";
}

h4 {
    margin: 10px auto;
    color: rgb(4, 51, 4);
    text-align: center;
    font-family: "Times New Roman";
}

h1 span{
    color: rgb(111, 111, 209);
}

hr{
    margin: 10px 0px;
}

.github-fork-ribbon:before{
    background: tomato !important;
}

img {
    width: 40%;
    justify-content: center;
    align-items: center;
  }


#uploadImage{
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px dashed rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}

img{
    width: 100%;
    height: 300px;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    margin: 20px auto;
    }

.box{
    width: 45%;
}

.box-result{
    display: none;
}

.accuracy{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}


.progress {
    width: 130px;
    height: 130px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress > .inner {
    position: absolute;
    color: aquamarine; 
}

.progress > svg {
    height: 100%;
    display: block;
}

.init_status{
    background: lavender;
    color: firebrick;
    padding: 10px;
    border-radius: 10px;
    transition: ease-in-out .5s;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 768px){
    .box{
        width: 100%;
    }
}
